:root {
  --primary-font: "Volkorn", serif;
  --secondary-font: "IBM Plex Sans Thai Looped", sans-serif;
  --primary-color: #557a95;
  --secondary-color: #5d5c61;
  --tertiary-color: #b0a295;
  --quaternary-color: #938e94;
  --quinary-color: #7395ae;
}

.navbar {
  background: transparent !important;
}
.nav-link {
  font-family: var(--secondary-font);
}

.external-links {
  font-size: 35px;
  padding: 15px;
  color: black;
}

.navbar-brand {
  font-size: 35px;
  color: black;
}
/*Homepage */
.homepage-hero {
  text-align: center;
  padding: 160px 20px;
  background-color: var(--primary-color);
}

.hh-heading {
  display: block;
  font-family: var(--primary-font);
  color: white;
  font-weight: 900;
  font-size: 100px;
  padding: 40px 20px 40px 20px;
}

.hh-subheading {
  display: block;
  font-family: var(--secondary-font);
  font-size: 30px;
  color: white;
  opacity: 0.7;
  line-height: 1.5;
}
.btn-branding,
.btn-branding-outline {
  border: var(--secondary-color) solid 2px;
  border-radius: 4px;
  background-color: var(--secondary-color);
  color: white;
  padding: 10px;
  font-family: var(--secondary-font);
}
.project-title {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 40px;
  margin-top: 40px;
}
.project-description {
  font-family: var(--secondary-font);
}

.icons {
  font-size: 50px;
}

.project {
  margin: 20px;
}

/*About */
.container-fluid {
  padding: 0;
}

.about-me-row {
  background-color: var(--tertiary-color);
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.content-container {
  font-family: var(--secondary-font);
  text-align: center;
  padding: 120px 20px;
  color: white;
  opacity: 0.8;
  line-height: 1.5;
}

.me {
  max-width: 100%;
  height: auto;
}

/*Portfolio */
.portfolio-container {
  text-align: center;
  padding: 160px 20px;
  background-color: var(--quaternary-color);
}

@media (max-width: 576px) {
  .homepage-hero {
    padding-top: 60px;
    padding-bottom: 90px;
  }
  .hh-heading {
    font-size: 50px;
  }
  .hh-subheading {
    font-size: 20px;
  }
  .project {
    margin-top: 10px;
  }
  .project-title {
    margin-top: 10px;
    text-align: center;
  }
  .project-description,
  .icons {
    text-align: center;
  }

  .see-project {
    width: 100%;
  }

  .external-links {
    padding: 0px;
    margin: 0;
  }
  .fab {
    font-size: 20px;
  }
  .me-logo,
  h1 {
    font-size: 20px;
  }
}
