/*font-family: 'Lora', serif;
font-family: 'Merriweather', serif;
font-family: 'PT Mono', monospace;
font-family: 'Rufina', serif;
font-family: 'Vollkorn', serif; */

:root {
  --primary-font: "Volkorn", serif;
  --secondary-font: "IBM Plex Sans Thai Looped", sans-serif;
  --primary-color: #557a95;
  --secondary-color: #5d5c61;
}

.navbar {
  background: transparent !important;
}

.external-links {
  font-size: 35px;
  padding: 15px;
}

.navbar-brand {
  font-size: 35px;
}

.nav-item {
  font-family: var(--secondary-font);
  font-weight: 900;
  padding: 15px;
}

.homepage-hero {
  text-align: center;
  padding: 160px 20px;
  background-color: var(--primary-color);
}

h1,
h2,
h3 {
  margin: 0;
}

.hh-heading {
  display: block;
  font-family: var(--primary-font);
  color: white;
  font-weight: 900;
  font-size: 100px;
  padding: 40px 20px 40px 20px;
}

.hh-subheading {
  display: block;
  font-family: var(--secondary-font);
  font-size: 30px;
  color: white;
  opacity: 0.7;
  line-height: 1.5;
}

@media (max-width: 991px) {
  .external-links {
    text-align: left;
  }

  .homepage-hero {
    padding: 180px 20px;
  }
}
