/*font-family: 'Lora', serif;
font-family: 'Merriweather', serif;
font-family: 'PT Mono', monospace;
font-family: 'Rufina', serif;
font-family: 'Vollkorn', serif; */

:root {
  --primary-font: "Volkorn", serif;
  --secondary-font: "IBM Plex Sans Thai Looped", sans-serif;
}

.navbar {
  background: transparent !important;
}

.external-links {
  font-size: 35px;
  padding: 15px;
}

.navbar-brand {
  font-size: 35px;
}

.homepage-hero {
  text-align: center;
  padding: 160px 20px;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  display: block;
  font-family: var(--primary-font);
  font-weight: 900;
  font-size: 96px;
}

h3 {
  display: block;
  font-size: 24px;
  opacity: 0.7;
  line-height: 1.2;
}

p {
  font-family: var(--secondary-font);
}

@media (max-width: 991px) {
  .external-links {
    text-align: left;
  }

  .homepage-hero {
    padding: 180px 20px;
  }
}
