:root {
  /*Fonts*/
  --primary-font: "Volkorn", serif;
  --secondary-font: "IBM Plex Sans Thai Looped", sans-serif;
  /*Colors*/
  --primary-color: #557a95;
  --secondary-color: #5d5c61;
  --tertiary-color: #b0a295;
  --quaternary-color: #938e94;
  --quinary-color: #7395ae;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

/*Navbar */
.navbar {
  font-family: var(--secondary-font);
  font-size: 15px;
  font-weight: bold;
  padding: 15px;
  color: black;
}

.navbar-brand {
  font-size: 35px;
  color: black;
}

/*Homepage - including h1, h2 and button roots*/
.homepage-hero {
  text-align: center;
  padding: 160px 20px;
  background-color: var(--primary-color);
}

.hh-heading {
  display: block;
  font-family: var(--primary-font);
  color: white;
  font-weight: 900;
  font-size: 100px;
  padding: 40px 20px 40px 20px;
}

.hh-subheading {
  display: block;
  font-family: var(--secondary-font);
  font-size: 30px;
  color: white;
  opacity: 0.7;
  line-height: 1.5;
}
.btn-branding {
  border: var(--secondary-color) solid 2px;
  border-radius: 4px;
  background-color: var(--secondary-color);
  color: white;
  padding: 10px;
  font-family: var(--secondary-font);
}
.project {
  margin: 20px;
}
.project-title {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 40px;
  margin-top: 40px;
}
.project-description {
  font-family: var(--secondary-font);
}

.icons {
  font-size: 50px;
}

/*About */

.about-container {
  background-color: var(--tertiary-color);
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--secondary-font);
  text-align: center;
  padding: 120px 20px;
  color: white;
  opacity: 0.8;
  line-height: 1.5;
}

.me {
  max-width: 100%;
  height: auto;
}

/*Portfolio */
.portfolio-container {
  text-align: center;
  padding: 160px 20px;
  background-color: var(--quaternary-color);
}

/*Contact */
.contact-container {
  background-color: var(--quinary-color);
  padding: 160px 20px 200px 20px;
  text-align: center;
}

.contact-links a,
h4 {
  font-family: var(--secondary-font);
  font-size: 35px;
  color: black;
  text-decoration: none;
  text-align: center;
}

/*Footers */
/* Homepage footer */
footer .email-link {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

footer .hp-social-links a {
  margin: 0 20px;
  color: white;
  background-color: var(--primary-color);
  padding: 10px 14px;
  font-size: 18px;
  transition: all 150ms ease-in-out;
  border-radius: 50%;
}

footer .hp-social-links a:hover {
  color: var(--primary-color);
  background-color: white;
}

.homepage-footer {
  background: var(--primary-color);
  padding-bottom: 10px;
}

/* About footer */
footer .ap-social-links a {
  margin: 0 20px;
  color: white;
  background-color: var(--tertiary-color);
  padding: 10px 14px;
  font-size: 18px;
  transition: all 150ms ease-in-out;
  border-radius: 50%;
}

footer .ap-social-links a:hover {
  color: var(--tertiary-color);
  background-color: white;
}

.about-footer {
  background: var(--tertiary-color);
  padding-bottom: 10px;
}

/* Portfolio footer */
footer .pp-social-links a {
  margin: 0 20px;
  color: white;
  background-color: var(--quaternary-color);
  padding: 10px 14px;
  font-size: 18px;
  transition: all 150ms ease-in-out;
  border-radius: 50%;
}

footer .pp-social-links a:hover {
  color: var(--quaternary-color);
  background-color: white;
}

.portfolio-footer {
  background: var(--quaternary-color);
  padding-bottom: 10px;
}

/* Underline effect */

.hover-link::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: white;
  transition: 300ms;
}

.hover-link:hover::after {
  width: 100%;
}

.hover-link-black::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}

.hover-link-black:hover::after {
  width: 100%;
}

/* Responsive design */

@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}

.hover-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 576px) {
  .homepage-hero,
  .about-container,
  .portfolio-container,
  .contact-container {
    padding: 30px 20px 40px 20px;
  }

  .navbar {
    width: 100%;
  }

  .hh-heading {
    font-size: 50px;
    padding-left: 30px;
    padding-right: 20px;
  }
  .hh-subheading {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .project {
    margin-top: 10px;
  }
  .project-title {
    margin-top: 10px;
    text-align: center;
  }

  .project-description,
  .icons {
    text-align: center;
  }

  .btn-branding {
    width: 100%;
  }

  .external-links {
    padding: 0px;
    margin: 0;
  }
  .fab {
    font-size: 20px;
  }
}

.button:hover,
.button:link,
.button:active,
.button:visited {
  text-decoration: none;
  color: white;
}
