:root {
  --primary-font: "Volkorn", serif;
  --secondary-font: "IBM Plex Sans Thai Looped", sans-serif;
  --primary-color: #557a95;
  --secondary-color: #5d5c61;
  --tertiary-color: #b0a295;
  --quaternary-color: #938e94;
  --quinary-color: #7395ae;
}

.navbar {
  background: transparent !important;
}
.nav-link {
  font-family: var(--secondary-font);
}

.external-links {
  font-size: 35px;
  padding: 15px;
  color: black;
}

.navbar-brand {
  font-size: 35px;
  color: black;
}

.homepage-hero {
  text-align: center;
  padding: 160px 20px;
  background-color: var(--primary-color);
}

.hh-heading {
  display: block;
  font-family: var(--primary-font);
  color: white;
  font-weight: 900;
  font-size: 100px;
  padding: 40px 20px 40px 20px;
}

.hh-subheading {
  display: block;
  font-family: var(--secondary-font);
  font-size: 30px;
  color: white;
  opacity: 0.7;
  line-height: 1.5;
}
.btn-branding {
  border: var(--tertiary-color) solid 2px;
  border-radius: 4px;
  background-color: var(--tertiary-color);
  color: white;
  padding: 10px;
  font-family: var(--secondary-font);
}
@media (max-width: 576px) {
  .homepage-hero {
    padding: 180px 20px;
  }
  .hh-heading {
    font-size: 50px;
  }
  .hh-subheading {
    font-size: 20px;
  }
}
